*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body,#main{
    width: 100%;
    height: 100vh;
    background-color: #f0f2f5;
    

}
#main{
    display: flex;
    align-items: center;
    justify-content: center;
    filter: blur();
}

#leftContent{
    display: grid;
    gap: 5rem;
    width: 50%;
}
#leftContent h1{
    color: #1877f2;
    font-size: 100px;
}
#leftContent p{
    font-size: 40px;
    
}

#card{
    background-color: #FFFF;
    padding: 3rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
#LoginInput{
    padding: 2% 5% 2% 5%;
    font-size: 25px;
    border-radius: 10px;
    border: 1px solid gray;
}
#inputDiv{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 15px;
}

#loginBtn{
    color: #FFFF;
    background-color: #1877f2;
    border: none;
    width: 100%;
    padding: 5%;
    margin-top: 15px;
    border-radius: 10px;
    font-size: 30px;
}
#lineDiv{
    background-color:#dadde1;
    height: 2px;
    width: 100%;
    margin: 5%;
}
#createAccBtn{
    background-color: #42B72A;
    border: none;
    color: #FFFF;
    padding: 5%;
    font-size: 15px;
    border-radius: 30px;
}
#footer{
    color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 2rem;
    font-size: 20px;
}
#leftContent p{
    max-width: 511px;
}
#nameInputsDiv{
    display: flex;
    align-items: center;
    justify-content: center;
}
#register{
    
    padding: 2rem;
    gap: 10px;
    display: none;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: white;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
}
#top{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    
    
}
#infoInputsDiv{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
#inputsRegDiv{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
#AgeInput{
    background-color: #f0f2f5;
    width: 50%;
}
#SigUpBtnDiv{
    display: flex;
    align-items: center;
    justify-content: center;
}
#namesInput{
    background-color: #f0f2f5;
    border: none;
    border-radius:2px;
    padding-left: revert-layer;
    padding-top: 2%;
    padding-bottom:2% ;
}
#AgeInput{
    padding-top: 2%;
    padding-bottom:2% ;
    border: none;
    border-radius:2px;
    padding-left: revert-layer;
}
#infoInput{
    padding-top: 2%;
    padding-bottom:2% ;
    background-color: #f0f2f5;
    border: none;
    border-radius:2px;
    padding-left: revert-layer;
}
#namesInput::placeholder{
   
    padding: 10%;
}
#AgeInput::placeholder{
   
    padding: 10%;
}
::placeholder{
    padding: 5%;
}
#RegDelBtn{
    background-color: inherit;
    color: gray;
    border: none;
    font-size: 1.5rem
    
}
#SignUpRegBtn{
    background-color: #42B72A;
    color: #FFFF;
    border: none;
    width: 50%;
    padding: 2.5%;
    border-radius: 2px;
}

#regSpan{
    display: none;
}

#invalidInputSpan{
    display: none;
}
#notFoundSpan{
    display: none;
}
@media(width < 860px){
    #main{
        flex-direction: column;
    }
    #leftContent p{
        display: none;
    }
}

